<div class="disclaimer">
<!--  <p>The postings on this site are my own and don't necessarily represent my 
employer’s positions, strategies or opinions.</p>     -->
    <div style="float:left;">&copy;&nbsp;&nbsp;2014&nbsp;&nbsp;Fmeng </div>
    <div style="float:right;">
        &nbsp;&nbsp;<a href="/index.html#linus">Linus</a>
        &nbsp;&nbsp;<a href="/index.html#java">Java</a>
        &nbsp;&nbsp;<a href="/index.html#other">Other</a>
        &nbsp;&nbsp;<a href="/index.html#life">Life</a>
    </div>
</div>
