<nav>
  <h1>Hi.</h1>
  <a href="/" title="点击返回首页">
    <img src="/img/logo.png" id="logo" alt="点击返回首页"/>
  </a>
  <h2>I'm <a href="/" title="介绍一下我">Fmeng</a>.</h2>
  <hr/>
  <ul>
          <p>&emsp;&emsp;Stay hungry , stay foolish !<br /><span style="text-align:right;">2014-06-07</span></p>
    <hr />      
    <div>
	    <div id="social">
	      {% include social.html %}
	    </div>
  	</div>
  	
  	<hr />
  				<p>每一段代码都是有情感的，每一行注释都是有故事的。别，浪费了情感，败坏了故事。<br /><span style="float:right">2015-01-02</span></p>
 	 <hr />
			 	 <p>
			       I am a simple boy that enjoys life and progrem .<br/>
			       <a style="text-align:right;" href="/life/2014/05/18/about-me.html">Learn more about me.</a>
			          
			  </p>

  </ul>
</nav>
