<nav>
  <h1>Hi.</h1>
  <a href="/" title="点击返回首页">
    <img src="/img/logo.png" id="logo" alt="点击返回首页"/>
  </a>
  <h2>I'm <a href="/" title="介绍一下我">Fmeng</a>.</h2>
  <hr/>
  <ul>    
  	
  	<div>
	    <div id="social">
	      {% include social.html %}
	    </div>
  	</div>
  	
  	<hr />
          <p>&emsp;&emsp;Stay hungry , stay foolish !<br />
          	<span style="float:right">2014-06-07</span></p>
 	 <hr />
			  <p>
			       <a style="float:right" href="/life/2014/05/18/about-me.html">Learn more about me.</a>
			  </p>

  </ul>
</nav>










