Follow me:
<div id="stalker">
  <a title="瞧瞧我源码" target="_blank" href="http://github.com/fmeng/"><img src="/img/github.png"</a>
  <a title="用qq聊聊天" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1018841071&site=qq&menu=yes"><img src="/img/qq.png"/></a>
  <a title="我的新浪微博" target="_blank" href="http://www.weibo.com/fmeng123"><img src="/img/sina.png"/></a>
  <a title="给我发封email" target="_blank" href="#http://fmeng.github.io/life/2014/05/18/about-me.html#email"><img src="/img/email.png"/></a>
</div>
