body { margin:0; padding:0; width:100%; color:#9a9a9a;}

.main { padding:0; margin:0; background:#f7f7f7 url(images/main_bg.jpg) top center repeat-x;}
.clr { clear:both; padding:0; margin:0; width:100%; font-size:0px; line-height:0px;}
.logo { padding:60px 0 0 0; float:left; width:450px;}

h1 { margin:0; padding:10px 0 0 0; width:300px; color:#fff; font:normal 46px Aria;}
a { color:#2cadff; text-decoration:none;}
p { font:normal 14px Arial}

/*页面头部*/
.header_resize { margin:0 auto; padding:0; width:970px;}
.header_resize img { float:right; margin:0; padding:20px 0 0 0;}

/*菜单*/
.menu_nav { float:right; width:500px; margin:0; padding:5px 0 0 0; }
.menu_nav ul { list-style:none; padding:0; margin:0; }
.menu_nav li { float:left; padding:0 5px; }
.menu_nav li a { font:normal 13px Arial; color:#cfd1d0; display:block; float:left; padding:10px 8px 14px 8px; }

/*页面体样式*/
.content { padding:30px 0 0 0;}
.content_resize { margin:0 auto; padding:0; width:970px;}
.content .mainbar { margin:0; padding:0; float:left; width:630px;}
.content .mainbar img {border:0px}
.content .mainbar .article { margin:0; padding:10px 0 0 0;}
.content .sidebar { margin:0; padding:0; float:right; width:280px;}
.content .sidebar .gadget { margin:0 0 10px 0; padding:10px;}

/*右侧子菜单*/
ul.sb_menu { margin:0; padding:0; list-style:none;}
ul.sb_menu li { padding:4px 0 4px 12px; width:220px;}

/*页面底部*/
.fbg { padding:40px 0 0 0; background: #656565 url(images/footer_bg.gif) bottom repeat-x;}
.fbg_resize { margin:0 auto; padding:0 20px; width:930px;}
.fbg  h2 { color:#fff;}
.fbg p { color:#f7f7f7;}
.fbg  img { padding:4px; border:1px solid #cfd2d4; background-color:#fff;}
.fbg .col { margin:0; float:left;}
.fbg .c1 { padding:0 16px 0 0; width:266px;}
.fbg .c2 { padding:0 16px; width:300px;}
.fbg .c3 { padding:0 0 0 16px; width:260px;}

/*版权*/
.footer { width:920px; margin:0 auto; padding:40px 0 20px 0;}
.footer p.lf { margin:0; padding:4px 0; float:right; width:auto;color:#888787;}
.footer p.lr { margin:0; padding:4px 0; float:left; width:auto;color:#888787;}
